@import 'smart-grid'

.tag
  font-weight: bold
  color: #A7413E
.val
  color: #90C362
.attr
  font-weight: bold
  color: #D2945D

.wrapper .container .card
  margin-bottom: 50px

.wrapper
  nav
    transition: background-color .25s
.nav-wrapper
  ul
  display: flex
  justify-content: center
  a
    padding: 0 50px
    +xs(padding, 0 20px)
    font-size: 1.2rem
.to-main
  position: absolute
  left: 30px
  top: 12px
  font-size: 16px
  cursor: pointer






.fade-enter-active
  animation: fadeIn .2s linear
.fade-leave-active
  animation: fadeOut .2s linear


@keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1

@keyframes fadeOut
  from
    opacity: 1
  to
    opacity: 0


