@import 'smart-grid'

.wrapper
  .nav-wrapper
    ul
      display: flex
      justify-content: center
      a
        padding: 0 50px
        +xs(padding, 0 20px)
        font-size: 1.2rem

  .main
    +wrapper()


